table tr td {
    width: 20px;
    height: 20px;
    border-collapse: collapse;
    border: 1px;
    border-color: black;
    border-spacing: 10px;
    border-style: solid;
}

.menu {
    display: flex;
}



